/* app css stylesheet */


/* General */

body {
    background-color: #ffffff;
    color: #343333;
    font-family: Arial Regular, sans-serif;
    font-size: 1.4em;
    margin: 0 auto;
    overflow-x: auto;
    overflow-y: scroll;
    padding: 0;
    width: 100%;
}

h1 {
    font-size: 1.4em;
    line-height: 20px;
    margin: 0 0 8px;
    padding: 0 5px 2px;
}

a:link,
a:visited {
    border-bottom: 1px dotted #343333;
    color: #343333;
    text-decoration: none;
}

.menu {
    list-style: none;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu > li {
    display: inline;
}

@media (max-width: 767px) {
    .menu > li {
        float: left;
        width: 100%;
    }
}

.menu > li:nth-child(1):before {
    /*content: "";*/
    /*padding: 0;*/
    display: none;
}

.icon-flip-horizontal {
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
}

.red {
    color: #e6142d;
}

.subtitle {
    margin: 0;
}

.subsubtitle {
    font-size: 0.45em;
    font-style: italic;
}

.foot-note {
    border-top: 1px solid #343333;
    font-size: small;
}

::-webkit-input-placeholder {
    color: #6c6c6c;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #6c6c6c;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #6c6c6c;
}

:-ms-input-placeholder {
    color: #6c6c6c;
}


/* Header */

#header-inmedia_1 {
    background-color: #ffffff;
    height: 68px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

@media (max-width: 767px) {
    #header-inmedia_1 {
        height: auto;
        /*height: 126px;*/
        padding-bottom: 5px;
    }
}

#logo-tools {
    border-bottom: 3px solid #e6142d;
    height: 95%;
    margin: 0;
    position: absolute;
    width: 100%;
}

@media (max-width: 767px) {
    #logo-tools {
        position: initial;
    }
}

#logo-tools a {
    border: none;
}

.logo_scpo {
    margin-left: 6px;
    margin-top: 6px;
    width: 11%;
}

@media (max-width: 767px) {
    .logo_scpo {
        float: left;
        margin: 6px;
        position: initial;
    }
}

.logo_scpo img {
    height: 29px;
    margin-bottom: 20px;
    margin-left: 18px;
    margin-top: 14px;
}

@media (max-width: 767px) {
    .logo_scpo img {
        margin: 0;
    }
}

ul#menu_appli {
    float: left;
    position: relative;
    top: 11px;
    width: 365px;
}

@media (max-width: 767px) {
    ul#menu_appli {
        margin: 0 0 5px 0;
    }
}

ul#menu_appli li a {
    color: #e6142d;
    display: inline;
    padding: 0;
}

ul#menu_appli li a::after {
    content: " |";
    color: #343333;
}

ul#menu_appli li:last-child a::after {
    content: "";
}

@media (max-width: 767px) {
    ul#menu_appli li a::after {
        content: "";
    }
}

.navbar {
    background-color: transparent;
    border: none;
    left: 67px;
    top: 8px;
}

@media (max-width: 767px) {
    .navbar {
        margin: 0 10px;
        padding: 0;
        position: initial;
    }
}

@media (min-width: 768px) {
    .navbar-nav > li {
        float: none;
    }
}

#cata_ent {
    background: #f6f4f3;
    border-radius: 5px;
    font-size: 12px;
    height: 45px !important;
    margin-top: 4px;
    padding: 3px;
    position: relative;
    width: 585px;
}

@media (max-width: 767px) {
    #cata_ent {
        height: 165px !important;
        width: 100%;
    }
    #cata_ent > a {
        float: left;
        height: 32px;
        width: 100%;
    }
}

.catalog_title {
    background: #e6142d;
    border-radius: 3px;
    color: #fafafa;
    float: left;
    height: 39px;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 9px;
    padding-top: 9px;
    position: relative;
    top: -9px;
    width: 106px;
}

.catalog_title a,
.catalog_title a:link,
.catalog_title a:visited {
    color: #fafafa;
    text-decoration: none;
}

#social {
    float: left;
    position: relative;
    top: 3px;
}

.desc-appli {
    height: 68px;
    position: fixed;
    right: 15px;
    top: -5px;
    width: 250px;
}

@media (max-width: 767px) {
    .desc-appli {
        position: initial;
        text-align: center;
        width: initial;
    }
}

#iframe_horaire {
    border: none;
}

.horaire_bloc {
    background: #f6f4f3 url('http://sciencespo.fr/bibliotheque/sites/sciencespo.fr.bibliotheque/files/icones/schedule.png') no-repeat right top;
    background-size: 25px 25px;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    font-family: Helvetica, Arial, sans-shérif;
    font-size: 0.8em;
    padding: 2px;
    padding-top: 5px;
    padding-left: 3px;
    width: 228px;
}

.horaire_bloc h2 {
    left: -100000000000px;
    position: absolute;
}

.horaire_bloc a {
    color: #e6142d;
    font-style: italic;
    font-weight: bold;
}


/* Footer */

.footer {
    margin: 0;
}

.footer > div {
    border-top: 3px solid #e6142d;
}

@media (max-width: 767px) {
    .footer > div {
        margin: 0;
    }
}

.footer a {
    border: none;
}

.footer-content > .row {
    margin-bottom: 10px;
    margin-top: 10px;
}

@media (max-width: 767px) {
    .footer-content > .row > div {
        margin-bottom: 10px;
    }
}

.footer .license {
    font-size: 0.9em;
}

.footer .license img {
    max-width: 150px;
    min-width: 75px;
    width: 25%;
}

.footer .logo img {
    margin-top: 10px;
    width: 70%;
}


/* Corpus Snippet */

.corpus-snippet {
    border-bottom: 2px solid #f6f4f3;
}

.corpus-snippet .corpus-title a {
    border: none;
}

.corpus-resume,
.corpus-about {
    margin: 20px 0;
}

.corpus-about {
    font-size: 18px;
}

.corpus-about p {
    font-size: 14px;
}

@media (max-width: 767px) {
    .corpus-title,
    .corpus-about,
    .corpus-resume {
        padding: 0;
    }
}


/* Main Content */

.content {
    background-color: #f6f4f3;
    padding-bottom: 50px;
}

.main-content {
    margin: 68px 4% 0 4%;
    width: 92%;
}

@media (max-width: 767px) {
    .main-content {
        margin: 126px 4% 0 4%;
    }
}

.nav-tabs > li > a {
    text-decoration: none;
}

img.fit {
    height: 100%;
    width: 100%;
}


/* Search */

.search {
    padding-bottom: 15px;
}

@media (max-width: 767px) {
    .search {
        margin: 0;
    }
}

.search.searchfix {
    background-color: #f6f4f3;
    left: 0;
    padding-left: 58px;
    position: fixed;
    top: 68px;
    width: 100%;
    z-index: 1000;
}

@media (max-width: 767px) {
    .search.searchfix {
        padding-left: 5px;
        top: 126px;
    }
}

.search input.full-width {
    display: inline;
    width: 95%;
}

.search-input {
    padding-bottom: 10px;
}

.search .glyphicon-search {
    color: #343333;
}

@media (max-width: 767px) {
    .search .glyphicon-search {
        float: left;
        padding-top: 8px;
    }
}

.search md-input-container {
    display: inline;
    text-align: center;
}

.search md-input-container.md-default-theme:not(.md-input-invalid) .md-input {
    border-bottom: 1px solid #343333;
}

.search md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused .md-input {
    border-bottom: 1px solid #e6142d;
    padding-bottom: 1px;
}

.search .facet {
    text-align: left;
}


/* Checkboxes */

.search input[type="checkbox"] {
    -webkit-appearance: none;
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
    border-radius: 2px;
    color: #e6142d;
    height: 1.25em;
    margin: 0 5px -0.25px -21px;
    position: relative;
    vertical-align: top;
    width: 1.25em;
}

@media (max-width: 767px) {
    .search input[type="checkbox"] {
        margin: 0 0 -0.25px 8px;
    }
}

input[type="checkbox"]:checked:before {
    color: #ff5a5f;
    content: "\2713";
    font-size: 0.85em;
    position: absolute;
    text-align: center;
    width: 1.25em;
}


/* Webentities list */

.search .media img {
    padding: 3px;
}

.search .btn-danger {
    color: #e6142d;
    background-color: #fff;
    border-color: #ac2925;
}

.search .btn-danger.active,
.search .btn-danger.focus,
.search .btn-danger:active,
.search .btn-danger:focus,
.search .btn-danger:hover,
.search .open > .dropdown-toggle.btn-danger {
    color: #fff;
    background-color: #e6142d;
    border-color: #ac2925;
}

.results-count {
    margin-bottom: 5px;
}

.pagination > li > a,
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span,
.pagination > li > span:focus,
.pagination > li > span:hover {
    color: #e6142d;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    background-color: #e6142d;
    border-color: #e6142d;
}

@media (max-width: 767px) {
    .pagination {
        margin-left: 10px;
        margin-right: 10px;
    }
}

.grid-list {
    text-align: center;
}

@media (max-width: 767px) {
    md-grid-list {
        margin-left: 10px;
        margin-right: 10px;
    }
}

md-grid-list md-grid-tile md-grid-tile-footer,
md-grid-list md-grid-tile md-grid-tile-header {
    background-color: rgba(0, 0, 0, 0.7);
    text-align: initial;
}

md-grid-tile {
    border: 1px solid #b6b6b6;
    border-radius: 0 0 .7em .7em;
    cursor: pointer;
}

md-grid-tile img,
.tile-footer {
    border-radius: 0 0 .5em .5em;
}

.tile-footer {
    padding: 0 10px;
}

.grayscale {
    /* for Webkit browsere, Chrome 19+, Safari 6+ ... */
    -webkit-filter: grayscale(1);
    /* this is for Firefox 3.5+, Firefox mobile */
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'gs\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#gs");
    /* for IE6+ */
    filter: gray;
}

.grayscale:hover,
.grayscale.hover {
    /* for Webkit browsere, Chrome 19+, Safari 6+ ... */
    -webkit-filter: initial;
    /* this is for IE6, Firefox 3.5+, Firefox mobile */
    filter: initial;
}

.tile-footer h3 {
    font-size: 1.1em;
    font-weight: bold;
    margin-left: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/* Tab Cartography */

#graph {
    background-color: #fff;
    border: 1px solid #b6b6b6;
    height: 500px;
    margin-bottom: 10px;
    width: 100%;
}

.sigma-tools {
    -webkit-box-shadow: 0px 1px 5px rgba(50, 20, 0, 0.20);
    -moz-box-shadow: 0px 1px 5px rgba(50, 20, 0, 0.20);
    box-shadow: 0px 1px 5px rgba(50, 20, 0, 0.20);
    left: 28px;
    position: absolute;
    top: 12px;
}

.sigma-tools .btn-link {
    background-color: #FFF;
}

.legend {
    margin: 0;
}

.legend .key-item {
    height: 20px;
    margin: 5px 0;
}

.legend .key-item .key-color {
    border-radius: 10px;
    display: inline-block;
    height: 20px;
    vertical-align: middle;
    width: 20px;
}

.legend .key-item .key-name {
    display: inline-block;
    line-height: 20px;
    vertical-align: middle;
}


/* Modal */

.modal-image {
    margin-bottom: 15px;
}


/* Overwrite Bootstrap */

.checkbox-inline,
.radio-inline {
    padding: 0;
}

.checkbox-inline+.checkbox-inline,
.radio-inline+.radio-inline {
    height: 25px;
    margin-left: 0;
}

.clearfix {
    clear: both;
}


/* Overwrite Angular Material */

@media (max-width: 767px) {
    md-grid-list {
        padding-bottom: calc(((75% - 0px) * 12) - 80px) !important;
    }
}