<div id="footer" ng-class="['container-fluid']">
    <div ng-class="['row']">
        <div ng-class="['col-md-offset-2', 'col-md-8', 'footer-content']">
            <div ng-class="['row']">
                <div ng-class="['col-md-3']">Sciences Po
                    <br />27, rue Saint Guillaume
                    <br />75007 Paris - France
                    <br />Tél. +33 (0)1 45 49 50 50</div>
                <div ng-class="['col-md-3', 'logo']">
                    <a title="Sciences Po | Library - New window" href="http://www.sciencespo.fr/bibliotheque/en" target="_blank"><img src="img/sciencespo_library_logo.jpg"></img></a>
                </div>
                <div ng-class="['col-md-3', 'logo']">
                    <a title="Sciences Po | médialab - New window" href="http://www.medialab.sciences-po.fr/" target="_blank"><img src="img/sciencespo_medialab_logo.jpg"></img></a>
                </div>
                <div ng-class="['col-md-3', 'license']">
                    <p>This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Attribution-NonCommercial 4.0 International License</a>.</p>
                    <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/" target="_blank">
                        <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>