<div id="footer" class="footer container-fluid">
    <div class="row">
        <div class="col-md-offset-2 col-md-8 footer-content">
            <div class="row">
                <div class="col-md-4">Sciences Po
                    <br />27, rue Saint Guillaume
                    <br />75007 Paris - France
                    <br />Tél. +33 (0)1 45 49 50 50</div>
                <div class="col-md-4">
                    <a title="Sciences Po | Library - New window" href="http://www.sciencespo.fr/bibliotheque/en" target="_blank">Library</a>
                    <br/>
                    <a title="Sciences Po | médialab - New window" href="http://www.medialab.sciences-po.fr/" target="_blank">médialab</a>
                </div>
                <div class="col-md-4">
                    <a title="Contact Form" href="#">Contact</a>
                    <br />
                    <a title="Legal Mentions" href="#">Legal Mentions</a>
                </div>
            </div>
        </div>
    </div>
</div>