<div>
    <div ng-class="['row', 'search']">
        <div ng-class="['row', 'col-md-offset-3', 'col-md-6', 'search-input']">
            <md-input-container md-no-float>
                <span ng-class="['glyphicon', 'glyphicon-search', 'icon-flip-horizontal']" aria-hidden="true"></span>
                <span><input ng-model="queryTerm" type="text" placeholder="What are you looking for ?" ng-change="filter();" ng-class="['full-width']"/></span>
            </md-input-container>
        </div>
        <div ng-repeat="category in categories" ng-class="['advanced-search']">
            <div ng-class="['row', 'col-md-12', 'category']">
                <div ng-class="['col-md-3']">{{category.name}}</div>
                <div ng-class="['col-md-6']">
                    <div ng-repeat="value in category.values" ng-class="['checkbox-inline', 'col-md-3', 'category-value']">
                        <label>
                            <input id="{{value.id}}" type="checkbox" name="{{category.id}}" ng-model="value.isSelected" ng-change="filter(category.id, value.id);" />
                            <span>{{value.name | limitTo : 15}} <em>({{value.count}})</em></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-class="['row', 'search-footer']">
        <ng-pluralize ng-class="['results-number']" count="totalItems" when="{'0': 'No result found', '1': '1 result found', 'other': '{} results found'}"></ng-pluralize>
        <div class="btn-group">
            <button type="button" class="btn btn-default" aria-label="Left Align">
                <span class="glyphicon glyphicon-th-large" aria-hidden="true" checked></span>
            </button>
            <button type="button" class="btn btn-default" aria-label="Left Align">
                <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
            </button>
        </div>
        <button ng-class="['btn', 'btn-default', 'btn-more-filters', 'pull-right']" ng-click="moreFilters();">More filters</button>
    </div>
    <div ng-class="['row']">
        <div ng-class="['col-md-6']">
            <div ng-class="['row', 'grid-list']" flex="">
                <md-grid-list md-cols-sm="1" md-cols-md="3" md-cols-gt-md="3" md-row-height-gt-md="4:3" md-row-height="4:3" md-gutter="8px" md-gutter-gt-sm="10px">
                    <md-grid-tile id="{{result.ID}}" ng-repeat="result in displayedResults" md-rowspan="1" md-colspan="1" md-colspan-sm="1" ng-class="['gray']">
                        <a href="#/WebEntity/{{result.ID}}">
                            <img ng-class="['fit', 'grayscale']" src="https://api.pagelr.com/capture?uri={{result.URL}}&width=400&height=300"></img>
                            <md-grid-tile-footer ng-class="['tile-footer']">
                                <h3>{{result.FULL_NAME}}</h3> {{result.ACTORS_TYPE | translate:'actorsType'}}
                            </md-grid-tile-footer>
                        </a>
                    </md-grid-tile>
                </md-grid-list>
                <pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" ng-class="['pagination-sm']" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="display();"></pagination>
            </div>
        </div>
        <div ng-class="['col-md-6']">
            <div id="graph"></div>
            <div ng-class="['sigma-tools']">
                <div ng-class="['btn-group-vertical']">
                    <button type="button" ng-class="['btn', 'btn-link', 'btn-xs']" ng-click="sigmaCenter();" tooltip-placement="right" tooltip="Center">
                        <span ng-class="['glyphicon', 'glyphicon-record']"></span>
                    </button>
                    <button type="button" ng-class="['btn', 'btn-link', 'btn-xs']" ng-click="sigmaZoom();" tooltip-placement="right" tooltip="Zoom">
                        <span ng-class="['glyphicon', 'glyphicon-plus']"></span>
                    </button>
                    <button type="button" ng-class="['btn', 'btn-link', 'btn-xs']" ng-click="sigmaUnzoom();" tooltip-placement="right" tooltip="Unzoom">
                        <span ng-class="['glyphicon', 'glyphicon-minus']"></span>
                    </button>
                </div>
            </div>
            <div ng-class="['row', 'legend']">
                <legend columns-number="2" />
            </div>
        </div>
    </div>
</div>