<div style="height: 200px; width: 100%; background-color: white;" ng-class="['col-md-12']">Search part</div>
<div style="width: 100%; padding: 0;" ng-class="['col-md-12']">
    <div style="background-color: #5DADE2;" ng-class="['col-md-6']">Graph part</div>
    <div style="background-color: #F5B041;" ng-class="['col-md-6']">
        <div>
            <div ng-class="['row']">
                <md-list ng-class="['entities-list']">
                    <md-list-item>
                        <img ng-class="['thirdfit', 'grayscale']" src="https://api.pagelr.com/capture?uri=sciencespo.fr&width=200&height=150"></img>
                        <div>
                            <h3>Lorem ipsum</h3> actor's type
                        </div>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item>
                        <img ng-class="['thirdfit', 'grayscale']" src="https://api.pagelr.com/capture?uri=sciencespo.fr&width=200&height=150"></img>
                        <div>
                            <h3>Lorem ipsum</h3> actor's type
                        </div>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item>
                        <img ng-class="['thirdfit', 'grayscale']" src="https://api.pagelr.com/capture?uri=sciencespo.fr&width=200&height=150"></img>
                        <div>
                            <h3>Lorem ipsum</h3> actor's type
                        </div>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item>
                        <img ng-class="['thirdfit', 'grayscale']" src="https://api.pagelr.com/capture?uri=sciencespo.fr&width=200&height=150"></img>
                        <div>
                            <h3>Lorem ipsum</h3> actor's type
                        </div>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item>
                        <img ng-class="['thirdfit', 'grayscale']" src="https://api.pagelr.com/capture?uri=sciencespo.fr&width=200&height=150"></img>
                        <div>
                            <h3>Lorem ipsum</h3> actor's type
                        </div>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item>
                        <img ng-class="['thirdfit', 'grayscale']" src="https://api.pagelr.com/capture?uri=sciencespo.fr&width=200&height=150"></img>
                        <div>
                            <h3>Lorem ipsum</h3> actor's type
                        </div>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item>
                        <img ng-class="['thirdfit', 'grayscale']" src="https://api.pagelr.com/capture?uri=sciencespo.fr&width=200&height=150"></img>
                        <div>
                            <h3>Lorem ipsum</h3> actor's type
                        </div>
                    </md-list-item>
                </md-list>
            </div>
        </div>
    </div>
</div>