<!-- div ng-controller="SearchCtrl">
    <div class="container-fluid">
        <div class="row-fluid">
            <span class="span3">
                <input class="input-large" ng-model="queryTerm" type="text" placeholder="What are you looking for ?" />
            </span>
            <button ng-click="search()" class="btn" type="button">Search</button>
        </div>
        <div class="row-fluid">
            <div class="span4">
                <li ng-repeat="doc in results.hits.hits">
                    {{ doc._source.Title }}
                </li>
            </div>
        </div>
    </div>
</div -->
<div ng-controller="WebEntitiesListCtrl" class="webentities">
    <div ng-repeat="webentity in webentities" class="container">
        <div class="media row">
            <div class="media-left col-md-3">
                <!-- <img class="fit" src="http://www.thumboweb.com/320.php?url=http://www." + {{webentity[1]}}></img> -->
                <img class="fit" src="http://www.thumboweb.com/320.php?url=http://www.sciencespo.fr"></img>
            </div>
            <div class="media-body">
                <h4 class="media-heading">{{webentity[6]}}</h4>
                <div><a href="{{webentity[1]}}" target="_blank">{{webentity[1]}}</a></div>
                <div>by </div>
                <div>keywords : </div>
            </div>
        </div>
    </div>
    <pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" num-pages="numPages" ng-change="pageChanged()"></pagination>
</div>